
.img{
  background-image: url('./images/img.jpeg');
  background-size: cover;
 
}

.center_input{
  position:fixed;
  height: 30%;
  top: 20%;
  left: 30%;
  background-color: white;
  width: 40%;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0  30px  lightslategrey;
}

